<a
	{% if link.links == blank %}
		href="{{ link.url }}"
	{% else %}
		href="##"
	{% endif %}
	class="header__menu-item list-menu__item focus-inset{% if link.current %} current-link{% endif %}{% if link.links != blank %} cursor-default{% endif %}"
	{% if link.current %}
		aria-current="page"
	{% endif %}
	{% if link.type == 'http_link' and settings.open_new_tab %}
		target="_blank"
	{% endif %}
	aria-label="{{ link.title | escape }}"
>
	<span
		{%- if link.active %}
			class="header__active-menu-item"
		{% endif %}
		title="{{ link.title | escape }}"
	>
		{{ link.title | escape }}
	</span>
</a>
