@charset "UTF-8";
.product-card .product_color-count {
  display: none;
  opacity: 1;
  transition: all var(--duration-default) ease;
  position: absolute;
}
.product-card .product-parameters {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.product-card .product-parameters .card__button-quick-buy {
  width: max-content;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: all var(--duration-default) ease;
}
.product-card .product-form__controls-group label.color-swatch .color {
  padding: 1rem;
}
.product-card .product-form__controls-group label.color-swatch .color::after {
  width: 0.8rem;
  height: 0.8rem;
}
.product-card .product-form__controls-group label.color-swatch .color-name {
  display: none;
}
.product-card .product-form__controls-group {
  gap: 0.3rem;
}
.product-card .product-parameters-color {
  opacity: 0;
  transition: var(--duration-default);
}

.collection-product-card {
  position: relative;
  margin: 0;
  transition: var(--duration-default);
  overflow: hidden;
}
.collection-product-card .caption-with-letter-spacing {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.card-wrapper {
  position: relative;
  display: block;
  height: 100%;
  text-decoration: none;
  overflow: hidden;
  background-color: rgb(var(--color-background));
}
.card-wrapper .card__button {
  opacity: 0;
  margin-top: 0.8rem;
  display: flex;
  position: absolute;
  bottom: 0;
}
.card-wrapper .card__button .card__quickview-text {
  text-decoration: underline;
  color: rgb(var(--color-foreground-secondary));
  font-weight: 400;
}
.card-wrapper:hover .card__button {
  opacity: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: underline;
}
.card-wrapper:hover .hide-price .price {
  opacity: 0;
  pointer-events: none;
}

.card-wrapper__image {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transition: var(--duration-default);
}

.full-unstyled-link,
.placeholder-svg {
  transition: var(--duration-default);
  height: 100%;
  width: 100%;
}

.card-wrapper__link--overlay {
  display: block;
  text-decoration: none;
  color: rgb(var(--color-link));
  background-color: transparent;
  z-index: 1;
}

.card {
  display: block;
  text-decoration: none;
}

.card-information {
  position: relative;
  padding-top: 1.6rem;
  z-index: 2;
  font-family: var(--font-text-card-family);
  font-style: var(--font-text-card-style);
  font-weight: var(--font-text-card-weight);
  font-size: calc(var(--font-text-card-scale) * 0.8rem);
}
@media only screen and (min-width: 1200px) {
  .card-information {
    font-size: calc(var(--font-text-card-scale) * 0.9rem);
  }
}
@media only screen and (min-width: 1360px) {
  .card-information {
    font-size: calc(var(--font-text-card-scale) * 1rem);
  }
}
.card-information.left .card__badge,
.card-information.left .card-information-box,
.card-information.left .product-parameters,
.card-information.left .price,
.card-information.left .price__sale {
  justify-content: flex-start !important;
}
.card-information.left .card-information-item,
.card-information.left .card-information__wrapper {
  align-items: flex-start !important;
}
.card-information.left .card-information-block,
.card-information.left .card__title,
.card-information.left .card__description,
.card-information.left .card__sku {
  text-align: left !important;
}

.card__inner {
  position: relative;
  display: block;
}

.card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Ñard__vendor {
  color: rgba(var(--color-base-text), 0.6);
}

.card__title {
  font-family: var(--font-heading-card-family);
  font-style: var(--font-heading-card-style);
  font-weight: var(--font-heading-card-weight);
  margin: 0;
  text-align: center;
  font-size: calc(var(--font-heading-card-scale) * 0.8rem);
}
@media only screen and (min-width: 1200px) {
  .card__title {
    font-size: calc(var(--font-heading-card-scale) * 0.9rem);
  }
}
@media only screen and (min-width: 1360px) {
  .card__title {
    font-size: calc(var(--font-heading-card-scale) * 1rem);
  }
}

.caption-with-letter-spacing {
  max-width: 25.5rem;
  margin: 0;
}

.card-information__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 2.4rem;
}

@media screen and (min-width: 1200px) {
  .card-link-small .card__link {
    font-size: 1.2rem;
  }
}
.card__link {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  margin: 0;
  width: 90%;
  height: auto;
  min-width: unset;
  min-height: unset;
  font-weight: 700;
  text-decoration: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: all;
  transition: transform var(--duration-short), opacity var(--duration-short);
  padding: 1.6rem 2.4rem;
  letter-spacing: 0.66px;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1;
  overflow: unset;
  white-space: nowrap;
}
@media screen and (min-width: 1200px) {
  .card__link {
    opacity: 0 !important;
  }
}
.card__link.button--link {
  left: 2.4rem;
  transform: translateY(0);
  display: inline-flex;
  align-items: center;
}
.card__link.button--link > svg {
  transition: all var(--duration-default) ease;
}
.card__link.button--link.loading {
  transform: unset;
}
.card__link.loading {
  opacity: 0.5;
  transform: translateX(-50%) translateY(0);
  pointer-events: none;
}
.card__link.loading span {
  opacity: 0;
}
.card__link.card__link--static {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: unset !important;
  opacity: 1 !important;
  margin-top: 1.6rem;
}
.card__link.card__link--static:not(.button--link) {
  width: 100%;
}
.card__link .loading-overlay__spinner {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__link .loading-overlay__spinner svg {
  width: 100%;
  height: 100%;
}
.card__link span {
  transition: opacity var(--duration-short);
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card .h1 .icon-arrow,
.card .h2 .icon-arrow {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.card--media {
  display: block;
  text-decoration: none;
}

.card--text-only {
  display: flex;
  justify-content: center;
}

.card--text-only::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.card--product {
  position: relative;
  overflow: hidden;
}

.card__inner {
  background-color: rgba(var(--color-background));
}
.card__inner .media {
  border-radius: 0.3rem;
}
.card__inner .media img {
  background-color: rgb(var(--color-background-card));
}

.card--stretch {
  height: 100%;
}

.card--light-border {
  border: 0.1rem solid rgba(var(--color-base-text), 0.04);
  transition: var(--duration-short);
}

.card--light-border:hover {
  border: 0.1rem solid rgba(var(--color-base-text), 0.3);
  box-shadow: none;
}

.card__text-spacing {
  padding: 2rem;
}

.card-colored.color-background-1 {
  background-color: rgba(var(--color-base-text), 0.04);
}

.card--media .card__text-spacing {
  padding: 2rem;
  text-align: center;
}

.card--text-only .card__inner {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
}

.card__content {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.card__content > * {
  margin: 0;
}

.card--text-only .card__content {
  grid-row: 2;
  justify-self: center;
  margin-bottom: 6rem;
  margin-top: 5rem;
}

.color--silwer {
  color: rgba(var(--color-foreground), 0.4);
  text-decoration-color: rgba(var(--color-foreground), 0.4);
}

.card--text-only .card__badge {
  align-self: flex-end;
  grid-row: 3;
}

.card--search .card__badge > *,
.card--text-only .card__badge > * {
  margin: 0 1rem 1rem;
}

.card--search .card__badge,
.card--text-only .card__badge {
  position: initial;
}

.card--text-only .card__content + .card__badge {
  margin-top: -5rem;
}

.card--search .card__content {
  justify-self: flex-start;
  text-align: left;
}

.media + .card__content {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.card-wrapper .media {
  padding: 0;
}

.card-wrapper .media > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

@media screen and (min-width: 750px) {
  .card--text-only .card__content {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .card--text-only .card__content + .card__badge {
    margin-top: -7rem;
  }
}
.card__text-spacing > * {
  margin: 0;
}

.card__text-spacing > *:not(.overlay-card) + * {
  margin-top: 0.5rem;
}

.card__text {
  margin: 0;
  word-break: break-word;
}

.card--text-only .card__text {
  text-align: center;
}

.card-information__text {
  display: block;
  padding-right: 1.2rem;
}

.price-item {
  letter-spacing: -0.03em;
  line-height: 130%;
  transition: var(--duration-short);
}

.collection-product-card {
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.cart__footer-wrapper + .collection-products-section .collection-product-card:hover .card__link {
  opacity: 0;
}

.card-wrapper:focus-within .card {
  box-shadow: none;
}

.card__media-spacer {
  padding: 2rem;
}

@media screen and (min-width: 750px) {
  .card__media-spacer {
    padding: 3rem;
  }
}
.card-article-info {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card__badge {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem 1.6rem;
  min-height: 1.6rem;
  z-index: 3;
  margin-bottom: 0rem;
}
.card__badge .color-badge {
  color: rgba(var(--color-error));
}

.card__badge {
  transition: opacity var(--duration-default);
  margin-bottom: 0.8rem;
}
.card__badge .badge {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 1200px) {
  .card .media.media--hover-effect > img,
  .card-wrapper .media.media--hover-effect > img {
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .card__inner .media.media--hover-effect {
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .card--search img {
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .card-wrapper:hover .card__heading {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
  .card-wrapper:hover .card.card--search {
    background-color: rgba(var(--color-card-hover), 0.06);
    transition: background-color var(--duration-long) ease;
  }
}
@media screen and (max-width: 1199px) {
  .card-information {
    padding-top: 1.4rem;
  }
}
.product-card .card__collection-title {
  display: inline-block;
}
.product-card .card-information-box {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
.product-card .card-information-block {
  text-align: center;
}
.product-card .card-information-block .price {
  justify-content: center;
  transition: all var(--duration-default) ease;
}
.product-card .card-information-block .card-information-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.product-card .card-information-block .card-information-item-price {
  margin-top: 0.6rem;
}
.product-card .card__description {
  text-align: center;
}
.product-card .card__vendor {
  text-align: center;
  margin: 0;
  color: rgba(var(--color-accent));
}

@media screen and (min-width: 990px) {
  .quickview--hover:hover .card-wrapper__image {
    opacity: 1;
    transform: scale(1.05);
  }
  .quickview--hover:hover .placeholder-svg {
    transform: scale(1.05);
  }
  .quickview--hover:hover .media.media--hover-effect > img:first-child:not(:only-of-type) {
    opacity: 0;
    transform: scale(1.12);
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .quickview--hover:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transform: scale(1.1);
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .quickview--hover:hover .media.media--hover-effect > img {
    transform: scale(1.12);
    transition: transform var(--duration-long) ease, opacity var(--duration-long) ease;
  }
  .quickview--hover:hover .card__link {
    opacity: 1 !important;
    transform: translateX(-50%) translateY(0);
  }
  .quickview--hover:hover .button--link {
    transform: unset;
  }
  .quickview--hover:hover .button--link > svg {
    transform: scale(1.05);
  }
}
.quickview--hover:hover.product-card .product-parameters .card__button-quick-buy {
  opacity: 1;
}
.quickview--hover:hover.product-card .product-parameters-color {
  opacity: 1;
}
.quickview--hover:hover.product-card .product_color-count {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.card__sku {
  margin-top: 0;
  text-align: center;
}

.card__button-quick-buy {
  min-height: auto !important;
}
.card__button-quick-buy button {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(var(--color-foreground-title));
  padding: 0;
  font-size: calc(var(--font-text-card-scale) * 0.8rem);
}
@media only screen and (min-width: 1200px) {
  .card__button-quick-buy button {
    font-size: calc(var(--font-text-card-scale) * 0.9rem);
  }
}
@media only screen and (min-width: 1360px) {
  .card__button-quick-buy button {
    font-size: calc(var(--font-text-card-scale) * 1rem);
  }
}

.product-card-placeholder .card-information__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-card-placeholder .price {
  justify-content: center;
  opacity: 1 !important;
  height: auto !important;
}
.product-card-placeholder .card__title {
  margin: 0.8rem 0 0;
}