.quick-add {
  position: relative;
  grid-row-start: 4;
  z-index: 10;
}
@media (max-width: 990px) {
  .quick-add.mobile-hide {
    display: none;
  }
}

.modal-opener {
  position: relative;
  z-index: 1;
}

.quick-add-modal {
  --modal-height: 55rem;
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: 2;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(var(--color-overlay), 0.6);
  backdrop-filter: blur(4px);
  height: 100%;
}
@media (min-width: 990px) {
  .quick-add-modal {
    --modal-height: 66.4rem;
  }
}
.quick-add-modal .icon-close {
  width: 2rem;
  height: 2rem;
}
.quick-add-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}
.quick-add-modal .product--no-media .product__info-wrapper {
  max-height: var(--modal-height);
}
.quick-add-modal .product__media {
  padding-top: 100%;
}
@media (min-width: 990px) {
  .quick-add-modal .product__media {
    padding-top: 0;
  }
}
.quick-add-modal .shopify-payment-button__button:hover:not([disabled]) {
  opacity: 1;
}
.quick-add-modal .shopify-payment-button__button.shopify-payment-button__button--branded .shopify-cleanslate > div {
  overflow: hidden;
}
.quick-add-modal .product__outer {
  padding: 0;
  display: flex;
  align-items: flex-start !important;
  gap: 2.4rem;
}
@media (min-width: 990px) {
  .quick-add-modal .product__outer {
    gap: 6.4rem;
  }
}
@media (min-width: 990px) {
  .quick-add-modal .product__info-wrapper {
    width: calc(35% - 0.8rem);
  }
}
.quick-add-modal .product__media-toggle, .quick-add-modal .product__media-icon, .quick-add-modal .product__media-sublist, .quick-add-modal .product-popup,
.quick-add-modal .product .modals,
.quick-add-modal .product .share-buttons,
.quick-add-modal .product .product-about,
.quick-add-modal .product .icon-with-text,
.quick-add-modal .product .additional_text,
.quick-add-modal .product .product-details {
  display: none;
}
.quick-add-modal__content-wrapper {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: var(--modal-height);
}
.quick-add-modal__content-wrapper::-webkit-scrollbar {
  width: 0.4rem;
}
.quick-add-modal__content-wrapper::-webkit-scrollbar-thumb {
  background: rgba(var(--color-foreground), 0.75);
}
.quick-add-modal__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 3rem);
  max-width: 550px;
  background-color: rgb(var(--color-background));
}
@media (min-width: 990px) {
  .quick-add-modal__content {
    max-width: 1048px;
    width: calc(100% - 10rem);
  }
}
.quick-add-modal__content img {
  max-width: 100%;
}
@media (min-width: 990px) {
  .quick-add-modal__content img {
    max-height: var(--modal-height);
  }
}
.quick-add-modal__toggle {
  position: absolute;
  top: -2rem;
  right: 0;
  z-index: 10;
}
@media (min-width: 990px) {
  .quick-add-modal__toggle {
    top: 2rem;
    right: 2rem;
  }
}
.quick-add-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
.quick-add-modal .breadcrumb,
.quick-add-modal .product__tax {
  display: none;
}
.quick-add-modal .product__media-item.auto-diabled {
  height: 100%;
}
.quick-add-modal .product__media-wrapper {
  width: 100%;
}
@media (min-width: 990px) {
  .quick-add-modal .product__media-wrapper {
    width: calc(50% - 3.2rem) !important;
    position: sticky;
    top: 0;
  }
}
@media (max-width: 576px) {
  .quick-add-modal .product__media-wrapper .swiper-btn--prev {
    left: 0;
  }
  .quick-add-modal .product__media-wrapper .swiper-btn--next {
    right: 0;
  }
}
.quick-add-modal .product__media-wrapper .swiper-wrapper {
  min-height: var(--modal-height);
}
.quick-add-modal .product__media-wrapper .swiper-btn {
  display: flex !important;
}
.quick-add-modal .product__info-wrapper {
  text-align: center;
  height: max-content;
  padding-bottom: 0;
  padding-top: 2.4rem;
  width: 100%;
  max-width: 470px;
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
@media (min-width: 990px) {
  .quick-add-modal .product__info-wrapper {
    width: calc(50% - 3.2rem) !important;
    position: sticky;
    top: 0;
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
    padding-left: 6.4rem;
    padding-right: 0;
    max-width: none;
  }
}
.quick-add-modal .product__info-wrapper .product__title__wrapper {
  margin: 0;
}
.quick-add-modal .product__info-wrapper .product-tags__tag {
  margin-bottom: 0.6rem;
}
.quick-add-modal .product__info-wrapper .product__text {
  margin-top: 0.3rem;
}
.quick-add-modal .product__info-wrapper .price-wrapper {
  margin: 0.8rem 0 0;
}
.quick-add-modal .product__outer--desktop-order .product__info-wrapper {
  padding-right: 2.4rem;
  padding-left: 2.4rem;
}
@media (min-width: 990px) {
  .quick-add-modal .product__outer--desktop-order .product__info-wrapper {
    padding-right: 6.4rem;
    padding-left: 0;
  }
}
.quick-add-modal .product__outer--mobile-order .product__info-wrapper {
  padding-bottom: 2.4rem;
  padding-top: 0;
}
@media (min-width: 990px) {
  .quick-add-modal .product__outer--mobile-order .product__info-wrapper {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
}
.quick-add-modal .product__media-list__container--large {
  grid-template-columns: auto;
}
.quick-add-modal .product__outer--center .product__info-wrapper {
  align-self: center;
}
@media (max-width: 990px) {
  .quick-add-modal .product__media-item > * {
    height: 100%;
  }
  .quick-add-modal .product__outer--grid .product__media,
  .quick-add-modal .product__outer--stacked .product__media {
    height: 100%;
    padding-top: 0;
  }
  .quick-add-modal .product__outer--grid .product__media img,
  .quick-add-modal .product__outer--stacked .product__media img {
    position: relative;
  }
}