.hero-banner .hero-banner__image-wrapper {
  position: relative;
  overflow: hidden;
}
.hero-banner .hero-banner__image-wrapper::after {
  content: "";
  display: block;
  padding-bottom: var(--image-height);
}
.hero-banner .hero-banner__img {
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  top: 0;
}
.hero-banner .hero-banner__img img,
.hero-banner .hero-banner__img svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
  position: relative;
}
.hero-banner .hero-banner__img-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 576px) {
  .hero-banner .hero-banner__img-logo {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 576px) {
  .hero-banner .hero-banner__img-logo {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .hero-banner .hero-banner__img-logo {
    padding: 0 3.2rem;
  }
}
.hero-banner .hero-banner__img-logo img {
  width: 100%;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

.header-overlay-section .hero-banner .hero-banner__image-wrapper::after {
  padding-bottom: calc(var(--image-height) / 1.5 - var(--header-height));
}
@media screen and (min-width: 990px) {
  .header-overlay-section .hero-banner .hero-banner__image-wrapper::after {
    padding-bottom: calc(var(--image-height) - var(--header-height));
  }
}